.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  text-align: center;
  vertical-align: top;
  margin-bottom: 7px;
}

table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #2c1919;
  padding: 38px;
  font-size: 24px;
}

th {
  background-color: #994040;
}
button {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin: 0 100px; /* Adjust margin for spacing */
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Additional styling for better spacing */
button:hover {
  background-color: #d88f8f;
}

.navbar {
  border-bottom: 1px solid #dee2e6;
}
